@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
* {
  font-family: 'Jost', sans-serif !important;
}
p {
  font-family: 'Nunito', sans-serif !important;
}
header
 {
       border-bottom: 1px solid #ccdeff4f;
    background: white;

 }
.contact {
    padding: 17px 33px;
    border-left: 1px solid #ccdeff4f;
    align-content: center;
    background: #ff8904;
}

.contact a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 900;
}
 .top-section
 {
   background: black;
 }
 .logo img
 {
  height: 70px;
 }
body {
    position: relative;
    font-family: Jost, sans-serif;
    
    background-color: #7055ff0a;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}
.text-green
{
    color: #ff8904;
}
.bg-green
{
    background: black;
    color:white;
}
section#home p {
    color: black;
}
.border-green
{
    border: 1px solid black;
    color:black;
}
.navbar {
  position: fixed;
  width: 100%;
  top: 0;

  color: white;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.logo {
  font-weight: bold;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.burger {
  display: none;
  cursor: pointer;
}

/* responsive */
@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;

    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
  }

  .nav.active {
    display: flex;
  }

  .burger {
    display: block;
  }
}

.hero {
  display: flex;
  align-items: center;

  color: white;
  padding: 150px 40px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.hero-text h1 {
  font-size: 40px;
}

.hero-text h2 {
  color: black;
  margin: 10px 0;
}

.hero-text p {
  margin: 15px 0;
}

.btn {
  background: #38bdf8;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}



/* responsive */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-image img {
    margin-top: 20px;
  }
}

.footer {
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.footer h2 {
  margin-bottom: 10px;
}

.socials {
  margin: 15px 0;
}

.socials a {
  margin: 0 10px;
  color: #38bdf8;
  text-decoration: none;
}

copyright {
  font-size: 14px;
  opacity: 0.7;
}

.phone-info {
    padding: 8px;
    border-left: 1px solid #ccdeff4f;
    align-content: center;
}
.phone-info a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 900;
}
header a
{
    font-weight: 400;
    font-size: 16px;
    color: black;
}
h1
{
    color: black;
     font-family: 'Nunito', sans-serif !important;
}
.text-accent 
{
    font-family: 'Nunito', sans-serif !important;
}
h1
{
    font-size: 50px;
}
h2
{
    font-size: 45px;
}
button
{
    font-size: 17px;
}
.hero-image {
    width: 40%;
}
.hero-text {
    width: 60%;
}
.logo {
    font-weight: bold;
    border-right: 1px solid #ccdeff4f;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: black;
    font-size: 25px;
    justify-items: left;
    padding: 10px;
    padding-left: 21px;
}

.scroll-container {
  display: flex;
  gap: 20px;
  height: 570px;
  overflow: hidden;
  padding-top: 30px;
}

.column {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.track {
  display: flex;
  flex-direction: column;
}

.track img {
  width: 100%;
  margin-bottom: 20px;
      border-radius: 5px;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 6%);
}

/* Animation vers le bas */
.column-down .track {
  animation: scrollDown 50s linear infinite;
}

/* Animation vers le haut */
.column-up .track {
  animation: scrollUp 50s linear infinite;
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.column::before,
.column::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 2;
}

.column::before {
  top: 0;
  background: linear-gradient(to bottom, white, transparent);
}

.column::after {
  bottom: 0;
  background: linear-gradient(to top, white, transparent);
}

.skills-section {
  padding: 100px 10%;
}

.skills-section h2 {
  font-size: 42px;
  margin-bottom: 50px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.skill-item {
  width: 100%;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.skill-bar {
  width: 100%;
  height: 10px;
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  background: linear-gradient(90deg, #ff7a18, #ffb347);
  border-radius: 10px;
}

.block-competence {
    border-radius: 5px;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 6%);
    border: 0px;
}
.service-block {
    border-radius: 5px;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 6%);
    border: 0px;
    color: black;
    background: white;
}

.icon-service {
    color: #6ba6633b;
}

.service-block svg {
    color: #47ae5a6e;
}

.block-service , .block-projet , .block-filtre{
    border-radius: 5px;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 6%);
    border: 0px;
}
.block-projet
{
      background: white;

}
.block-parcours{
    border-radius: 5px;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 6%);
    background:none !important;
}


.block-projet .h-48.overflow-hidden {
    display: none !important;
}


.line , .cercle
{
  background-color: #ff8904;
}

.block-parcours h3 {
    font-size: 22px;
    color: black;
}

.block-parcours ul li {
    font-size: 16px;
}

.block-parcours li , .block-projet li
 {
       display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding-top: 5px;
}

.block-parcours span.flex.items-center {
    padding: 2px;
    background: black;
    border-radius: 50%;
    color: white;
}

.block-projet span.flex.items-center {
    padding: 0px;
        color: rgb(153 161 175);
}

#portfolio button
 {
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 13%);
        border: 0px;
}

@media (max-width:1108px)
{
      h1 {
        font-size: 40px;
    }
     .logo strong , .contact a{
    font-size: 17px;
}
header a {
    font-size: 15px;
    padding: 12px;
}

.phone-info a
{
      font-size: 17px;
}
}
@media(min-width:768px) and (max-width:991px)
{
      h1 {
        font-size: 30px;
    }
     .logo strong , .contact a{
    font-size: 12px;
}
header a {
    font-size: 12px;
    padding: 10px;
}
.phone-info a
{
      font-size: 12px;
}
.mb-gap-10
{
  gap: 10px;
}

.mb-gap-cols
{
        grid-template-columns: repeat(2, minmax(0, 1fr));
}
}
@media(max-width:767px)
{

  h1 {
        font-size: 30px;
    }
  h2
  {

    font-size: 25px;
  }
  .mb-menu {
    top: 100px;
    width: 155px;
    justify-content: end;
}
  h1 {
    font-size: 40px;
}
.mb-gap-cols
{
        grid-template-columns: repeat(1, minmax(0, 1fr));
}

    .phone-info a {
        font-size: 13px;
    }

    .contact {
    padding: 17px 23px;
    }
    .iconOpen {
 
    width: 15% !important;
}
.phone-info {
    padding: 8px 0px;
    }
.contact a {
        font-size: 14px;
    }
}
@media (max-width: 350px) {
        .contact a {
        font-size: 16px;
    }
    .phone-info {
    padding: 8px 3px;
    }
        .contact {
        padding: 17px 15px;
    }
        .phone-info a {
        font-size: 12px;
    }
}
.iconOpen svg {
    fill: black;
    width: 30px;
    height: 30px;
}
.iconOpen {
    align-items: center;
    justify-content: center;
    justify-items: right;
    align-content: center;
    width: 33%;
}

